[Unit]
Description=ARM Starosta Backend Service (FastAPI + aiogram 3.x)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/tg_bot
ExecStart=/opt/tg_bot/.venv/bin/python main.py
Restart=always
RestartSec=5
EnvironmentFile=/opt/tg_bot/.env

# Ограничения безопасности
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
